52n-wps-xml/52n-wps-xml-schema/src/main/resources/META-INF/xml/schema/ogc/xlink/1.0.0/xlinks.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML Studio 1.0.7.0 (http://www.liquid-technologies.com) -->
<xsd:schema xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.w3.org/1999/xlink" version="2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:annotation>
    <xsd:appinfo source="urn:opengis:specification:gml:schema-xlinks:v3.0c2">xlinks.xsd v3.0b2 2001-07</xsd:appinfo>
    <xsd:documentation>
			GML 3.0 candidate xlinks schema. Copyright (c) 2001 OGC, All Rights Reserved.
		</xsd:documentation>
  </xsd:annotation>
  <xsd:attribute name="href" type="xsd:anyURI" />
  <xsd:attribute name="role" type="xsd:anyURI" />
  <xsd:attribute name="arcrole" type="xsd:anyURI" />
  <xsd:attribute name="title" type="xsd:string" />
  <xsd:attribute name="show">
    <xsd:annotation>
      <xsd:documentation>
        The 'show' attribute is used to communicate the desired presentation 
        of the ending resource on traversal from the starting resource; it's 
        value should be treated as follows: 
        new - load ending resource in a new window, frame, pane, or other 
              presentation context
        replace - load the resource in the same window, frame, pane, or 
                  other presentation context
        embed - load ending resource in place of the presentation of the 
                starting resource
        other - behavior is unconstrained; examine other markup in the 
                link for hints 
        none - behavior is unconstrained 
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="new" />
        <xsd:enumeration value="replace" />
        <xsd:enumeration value="embed" />
        <xsd:enumeration value="other" />
        <xsd:enumeration value="none" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:attribute>
  <xsd:attribute name="actuate">
    <xsd:annotation>
      <xsd:documentation>
        The 'actuate' attribute is used to communicate the desired timing 
        of traversal from the starting resource to the ending resource; 
        it's value should be treated as follows:
        onLoad - traverse to the ending resource immediately on loading 
                 the starting resource 
        onRequest - traverse from the starting resource to the ending 
                    resource only on a post-loading event triggered for 
                    this purpose 
        other - behavior is unconstrained; examine other markup in link 
                for hints 
        none - behavior is unconstrained
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="onLoad" />
        <xsd:enumeration value="onRequest" />
        <xsd:enumeration value="other" />
        <xsd:enumeration value="none" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:attribute>
  <xsd:attribute name="label" type="xsd:string" />
  <xsd:attribute name="from" type="xsd:string" />
  <xsd:attribute name="to" type="xsd:string" />
  <xsd:attributeGroup name="simpleLink">
    <xsd:attribute fixed="simple" form="qualified" name="type" type="xsd:string" />
    <xsd:attribute ref="xlink:href" use="optional" />
    <xsd:attribute ref="xlink:role" use="optional" />
    <xsd:attribute ref="xlink:arcrole" use="optional" />
    <xsd:attribute ref="xlink:title" use="optional" />
    <xsd:attribute ref="xlink:show" use="optional" />
    <xsd:attribute ref="xlink:actuate" use="optional" />
  </xsd:attributeGroup>
  <xsd:attributeGroup name="extendedLink">
    <xsd:attribute fixed="extended" form="qualified" name="type" type="xsd:string" />
    <xsd:attribute ref="xlink:role" use="optional" />
    <xsd:attribute ref="xlink:title" use="optional" />
  </xsd:attributeGroup>
  <xsd:attributeGroup name="locatorLink">
    <xsd:attribute fixed="locator" form="qualified" name="type" type="xsd:string" />
    <xsd:attribute ref="xlink:href" use="required" />
    <xsd:attribute ref="xlink:role" use="optional" />
    <xsd:attribute ref="xlink:title" use="optional" />
    <xsd:attribute ref="xlink:label" use="optional" />
  </xsd:attributeGroup>
  <xsd:attributeGroup name="arcLink">
    <xsd:attribute fixed="arc" form="qualified" name="type" type="xsd:string" />
    <xsd:attribute ref="xlink:arcrole" use="optional" />
    <xsd:attribute ref="xlink:title" use="optional" />
    <xsd:attribute ref="xlink:show" use="optional" />
    <xsd:attribute ref="xlink:actuate" use="optional" />
    <xsd:attribute ref="xlink:from" use="optional" />
    <xsd:attribute ref="xlink:to" use="optional" />
  </xsd:attributeGroup>
  <xsd:attributeGroup name="resourceLink">
    <xsd:attribute fixed="resource" form="qualified" name="type" type="xsd:string" />
    <xsd:attribute ref="xlink:role" use="optional" />
    <xsd:attribute ref="xlink:title" use="optional" />
    <xsd:attribute ref="xlink:label" use="optional" />
  </xsd:attributeGroup>
  <xsd:attributeGroup name="titleLink">
    <xsd:attribute fixed="title" form="qualified" name="type" type="xsd:string" />
  </xsd:attributeGroup>
  <xsd:attributeGroup name="emptyLink">
    <xsd:attribute fixed="none" form="qualified" name="type" type="xsd:string" />
  </xsd:attributeGroup>
</xsd:schema>