52n-wps-xml/52n-wps-xml-schema/src/main/resources/META-INF/xml/schema/ogc/ows/1.1.0/owsServiceProvider.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML Studio 1.0.7.0 (http://www.liquid-technologies.com) -->
<schema xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ows="http://www.opengis.net/ows/1.1" elementFormDefault="qualified" targetNamespace="http://www.opengis.net/ows/1.1" version="1.0.0" xml:lang="en" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="ows19115subset.xsd" />
  <annotation>
    <appinfo>owsServiceProvider.xsd 2006-02-14</appinfo>
    <documentation>This XML Schema Document encodes the common "ServiceProvider" section of the GetCapabilities operation response, known as the Capabilities XML document. This section encodes the SV_ServiceProvider class of ISO 19119 (OGC Abstract Specification Topic 12). 
		Copyright (c) 2006 Open Geospatial Consortium, Inc. All Rights Reserved. </documentation>
  </annotation>
  <element name="ServiceProvider">
    <annotation>
      <documentation>Metadata about the organization that provides this specific service instance or server. </documentation>
    </annotation>
    <complexType>
      <sequence>
        <element name="ProviderName" type="string">
          <annotation>
            <documentation>A unique identifier for the service provider organization. </documentation>
          </annotation>
        </element>
        <element minOccurs="0" name="ProviderSite" type="ows:OnlineResourceType">
          <annotation>
            <documentation>Reference to the most relevant web site of the service provider. </documentation>
          </annotation>
        </element>
        <element name="ServiceContact" type="ows:ResponsiblePartySubsetType">
          <annotation>
            <documentation>Information for contacting the service provider. The OnlineResource element within this ServiceContact element should not be used to reference a web site of the service provider. </documentation>
          </annotation>
        </element>
      </sequence>
    </complexType>
  </element>
</schema>