52n-wps-xml/52n-wps-xml-schema/src/main/resources/META-INF/xml/schema/ogc/wps/1.0.0/CancelJobResponseDocument.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 sp2 (http://www.altova.com) by Wilden (Institut für Geoinformatik der Westf. Wilhelms-Universität) -->
<!--W3C Schema generated by XMLSpy v2008 rel. 2 sp1 (http://www.altova.com)-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ows="http://www.opengis.net/ows/1.1" xmlns:wps="http://www.opengis.net/wps/1.0.0" targetNamespace="http://www.opengis.net/wps/1.0.0" elementFormDefault="qualified" version="1.0.0" xml:lang="en">
	<annotation>
		<appinfo>$Id: wpsExecute_response.xsd 2007-10-09 $</appinfo>
		<documentation>
			<description>This XML Schema Document encodes the WPS Execute operation response.</description>
			<copyright>Copyright (c) 2007 OGC, All Rights Reserved. 
For conditions, see OGC Software Notice http://www.opengeospatial.org/ogc/software</copyright>
		</documentation>
	</annotation>
	<!---->
	<include schemaLocation="common/ResponseBaseType.xsd"/>
	<!-- =============================================================
		elements and types
	============================================================== -->
	<element name="CancelJobResponse">
		<complexType>
			<complexContent>
				<extension base="wps:ResponseBaseType">
					<sequence>
						<element name="Abstract" type="string"/>
						<element name="OperationResult" type="string"/>
						<element name="JobID" type="string"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
</schema>
