52n-wps-xml/52n-wps-xml-schema/src/main/resources/META-INF/xml/schema/ogc/wps/1.0.0/ResumeJobRequestDocument.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ows="http://www.opengis.net/ows/1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:wps="http://www.opengis.net/wps/1.0.0" targetNamespace="http://www.opengis.net/wps/1.0.0" elementFormDefault="qualified" version="1.0.0" xml:lang="en">
	<!-- =============================================================
  includes and imports
 ============================================================== -->
	<include schemaLocation="http://schemas.opengis.net/wps/1.0.0/common/RequestBaseType.xsd"/>
	<!-- =============================================================
  elements and types
 ============================================================== -->
	<element name="ResumeJob">
		<annotation>
			<documentation>WPS Execute operation request, to execute one identified Process. If a process is to be run multiple times, each run shall be submitted as a separate Execute request. </documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="wps:RequestBaseType">
					<sequence>
						<element name="ProcessIdentifier" type="wps:ProcessIdentifierType"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<!-- =========================================================== -->
	<complexType name="ProcessIdentifierType">
		<simpleContent>
			<extension base="string">
				<annotation>
					<documentation>String containing the Literal value (e.g., "49").</documentation>
				</annotation>
			</extension>
		</simpleContent>
	</complexType>
</schema>
